---
import RootLayout from "../../layouts/root-layout.astro"
---

<RootLayout
  title="blog"
  description="sometimes i write about stuff i find interesting."
>
  <section class="py-6">
    <h2 class="pb-2 text-lg font-bold text-stone-200">blog</h2>
    <p>
      sometimes i write about stuff i find interesting.
    </p>
  </section>
</RootLayout>
