---
const EDUCATION = [
  {
    title: "Higher Technician in Web Application Development",
    period: "2022 - 2024",
  },
  {
    title: "Technician in Microcomputer Systems and Networks",
    period: "2020 - 2022",
  },
]
---

<section class="py-6">
  <h2 class="pb-2 text-lg font-bold text-stone-200">Education</h2>

  <ul class="flex flex-col gap-3 text-sm">
    {EDUCATION.map((education) => (
      <li class="gap-6 justify-between xs:flex">
        <div class="inline-flex gap-2">
          -
          <h3 class="font-bold">{education.title}</h3>
        </div>
        <span class="text-stone-400 text-nowrap">{education.period}</span>
      </li>
    ))}
  </ul>
</section>
