---
const KIND_WORDS = [
  {
    name: "Javier Arbizu",
    position: "CEO of Arbicuir, S.L.",
    quote: "He did a great job with our website. Always willing to help and explain everything in detail."
  },
  {
    name: "Hamid Bchour",
    position: "Owner of Barbería HB",
    quote: "We have had multiple clients come to us thanks to our new website. He has been very attentive and professional."
  },
]
---

<section class="py-6">
  <h2 class="pb-2 text-lg font-bold text-stone-200">Kind words</h2>

  <ul class="flex flex-col gap-4 text-sm">
    {KIND_WORDS.map((kindWord) => (
      <li class="gap-6 justify-between sm:flex">
        <div class="max-w-md">
          <p class="font-bold">{kindWord.name}</p>
          <p class="text-stone-400 pb-1">{kindWord.position}</p>
          <p>{kindWord.quote}</p>
        </div>
      </li>
    ))}
  </ul>
</section>
