---
import RootLayout from "../layout/root-layout.astro"
import WorkExperience from "./_sections/work-experience.astro"
import Education from "./_sections/education.astro"
import KindWords from "./_sections/kind-words.astro"
import Link from "../components/link.astro"
---

<RootLayout
  title="about"
  description="i'm a web developer & tech enthusiast based in spain. i'm passionate about programming, space, and technology as a whole."
>
  <section class="py-6">
    <h2 class="pb-2 text-lg font-bold text-stone-200">About me</h2>

    <div class="flex flex-col gap-4">
    <p>
      I'm a web developer & tech enthusiast based in spain. I am currently
      working at 
      <Link 
        href="https://www.linkedin.com/company/gioseppo"
        target="_blank"
        rel="noopener noreferrer"
        bold
      >
        Gioseppo
      </Link>.
    </p>
    <p>
      I'm passionate about programming, space, and technology as a whole. I love to learn new things and share my knowledge with others.
    </p>
    <p>
      When I'm not coding, you can find me reading, hitting the gym, listening
      to some 
      <Link href="/music" bold>fine tunes</Link> 
      and sharing time with my family.
    <p>
    </div>
  </section>

  <WorkExperience />
  <Education />
  <KindWords />
</RootLayout>
