---
import RootLayout from "../layout/root-layout.astro"
import Link from "../components/link.astro"
import SocialLinks from "../components/social-links.astro"
import Projects from "./_sections/projects.astro"
import Blog from "./_sections/blog.astro"
---

<RootLayout 
  title="home"
  description="hi there, i'm mario. I build stuff and learn along the way. welcome to my personal site."
>
  <section class="py-6">
    <p class="pb-4">
      Hi there, i'm mario. I build stuff and learn along the way. I'm
      currently working as a Web Developer at 
      <Link 
        href="https://www.linkedin.com/company/gioseppo"
        target="_blank"
        rel="noopener noreferrer"
        bold
      >
        Gioseppo
      </Link>.
      Welcome to my personal site.
    </p>

    <SocialLinks />
  </section>

  <Projects/>

  <Blog />

  <section class="py-6">
    <h2 class="pb-2 text-lg font-bold text-stone-200">Get in touch</h2>
    <p>
      Email me at 
      <Link 
        href="mailto:marioph10@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        bold
      >
        marioph10@gmail.com
      </Link>
      or check my social links.
    </p>
  </section>
</RootLayout>
