---
import RootLayout from "@/layout/root-layout.astro";
import Link from "@/components/link.astro";
import WorkExperience from "./_sections/work-experience.astro";
import Projects from "./_sections/projects.astro";
import Blog from "./_sections/blog.astro";
import SocialLinks from "@/components/social-links.astro";
---

<RootLayout
  title="Home"
  description="I build stuff — mostly for the web. Welcome to my personal site."
  ,
>
  <section class="flex flex-col gap-4 mb-16">
    <p>
      I build stuff — mostly for the web. I'm into programming, AI, space, and
      all things tech. I'm currently working as a Frontend Developer at
      <Link
        href="https://www.linkedin.com/company/alten-spain/"
        target="_blank"
        rel="noopener noreferrer"
        bold
      >
        Alten
      </Link>.
    </p>
    <SocialLinks />
  </section>

  <WorkExperience />
  <Projects />
  <Blog />

  <section>
    <h2 class="pb-2 text-lg font-bold text-stone-200">Get in touch</h2>
    <p>
      Email me at
      <Link
        href="mailto:marioph10@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        bold
      >
        marioph10@gmail.com
      </Link>
      or check my social links.
    </p>
  </section>
</RootLayout>
