---
import Link from "./link.astro"
import FormattedDate from "./formatted-date.astro"
import { getCollection } from "astro:content"

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)

const latestPosts = posts.slice(0, 3)
---

<section class="py-6">
  <h2 class="pb-2 text-lg font-bold text-stone-200">blog</h2>

  <ul class="flex flex-col gap-2 pb-4 text-sm">
    {latestPosts.map((post) => (
      <li class="flex gap-5 justify-between">
        <Link 
          href={`blog/${post.slug}`}
          bold
        >
          {post.data.title}
        </Link>
        <FormattedDate date={post.data.pubDate} />
      </li>
    ))}
  </ul>
    
  <Link href="/blog" arrow>
    all posts
  </Link>
</section>
