---
import Link from "./link.astro"

const PROJECTS = [
  {
    title: "Boble",
    description: "Real-time web chat.",
    link: "https://boble.chat/",
  },
  {
    title: "Arbicuir",
    description: "Corporate website for a leather engraving company.",
    link: "https://arbicuir.com/",
  },
  {
    title: "Barbería HB",
    description: "Website for a local barbershop.",
    link: "https://barberiahb.com/",
  },
]
---

<section class="py-6">
  <h2 class="pb-2 text-lg font-bold text-stone-200">Projects</h2>

  <ul class="flex flex-col gap-2 pb-3 text-sm">
    {PROJECTS.map((project) => (
      <li>
        <Link 
          href={project.link}
          target="_blank"
          rel="noopener noreferrer"
          bold
        >
          {project.title}
        </Link>
        <p>{project.description}</p>
      </li>
    ))}
  </ul>

  <Link 
    href="https://github.com/marioperezhurtado" 
    target="_blank"
    rel="noopener noreferrer"
    arrow
  >
    More projects 
  </Link>
</section>
