---
import Link from "./link.astro"

const SOCIAL_LINKS = [
  {
    name: "GitHub",
    url: "https://github.com/marioperezhurtado",
  },
  {
    name: "LinkedIn",
    url: "https://linkedin.com/in/marioperezhurtado",
  },
  {
    name: "Email",
    url: "mailto:marioph10@gmail.com"
  },
]
---

<ul class="flex gap-2.5 text-sm text-stone-400">
  {SOCIAL_LINKS.map((link, index) => (
    <>
      <li>
        <Link 
          href={link.url}
          target="_blank"
          rel="noopener noreferrer"
        >
          {link.name}
        </Link>
      </li>
      {index !== SOCIAL_LINKS.length - 1 && <span>/</span>}
    </>
  ))}
</ul>
