---
const WORK_EXPERIENCE = [
  {
    title: "Web Developer @gioseppo",
    period: "March 2024 - Present",
    description: "Developing the company's e-commerce platform & internal tools."
  },
  {
    title: "Freelance Developer",
    period: "June 2022 - March 2024",
    description: "Developed websites and mobile apps for local companies. Increased online visibility and helped to automate processes."
  },
  {
    title: "IT Technician Internship @mundozone",
    period: "March 2022 - June 2022",
    description: "Maintained computer systems and network infrastructure. Managed sales on online platforms. Provided customer service."
  },
]
---

<section class="py-6">
  <h2 class="pb-2 text-lg font-bold text-stone-200">Work experience</h2>

  <ul class="flex flex-col gap-3 text-sm">
    {WORK_EXPERIENCE.map((experience) => (
      <li class="gap-6 justify-between sm:flex">
        <div class="max-w-sm">
          <h3 class="font-bold">{experience.title}</h3>
          <p>{experience.description}</p>
        </div>
        <span class="text-stone-400 text-nowrap">{experience.period}</span>
      </li>
    ))}
  </ul>
</section>
