---
import Link from "../components/link.astro";

const SITE_LINKS = [
  {
    name: "Home",
    url: "/",
  },
  {
    name: "Blog",
    url: "/blog",
  },
];
---

<header class="flex justify-between mb-10 text-sm text-stone-400">
  <a href="/">
    <h1>Marioph ✨</h1>
  </a>

  <nav>
    <ul class="flex gap-2.5">
      {
        SITE_LINKS.map((link, index) => (
          <>
            <li>
              <Link href={link.url}>{link.name}</Link>
            </li>
            {index < SITE_LINKS.length - 1 && (
              <span role="presentation" aria-hidden="true">
                /
              </span>
            )}
          </>
        ))
      }
    </ul>
  </nav>
</header>
